<!-- src/app/pages/auth/auth.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="auth-container">
    <div class="auth-card" [class.flipped]="isFlipped">
      <div class="front">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <h1>Se connecter</h1>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">Continuer</ion-button>
          <ion-button expand="full" color="light" (click)="flipCard()">Vous n'avez pas de compte ?</ion-button>
        </form>
      </div>
      <div class="back">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <h1>Créer mon compte</h1>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Full Name</ion-label>
            <ion-input formControlName="fullName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input formControlName="address"></ion-input>
          </ion-item>
          <ion-button expand="full" type="submit" [disabled]="!registerForm.valid">Continuer</ion-button>
          <ion-button expand="full" color="light" (click)="flipCard()">Vous avez un compte</ion-button>
        </form>
      </div>
    </div>
  </div>
</ion-content>
