<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon  name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="contact" >
      <ion-icon  name="newspaper"></ion-icon>
    </ion-tab-button>
 
    <ion-tab-button tab="alert" >
      <ion-icon  name="warning"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="call">
      <ion-icon  name="call"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon  name="headset"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
