<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact" href="/tabs/contact">
      <ion-icon aria-hidden="true" name="newspaper"></ion-icon>
      <ion-label>contact</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alert" href="/tabs/alert">
      <ion-icon aria-hidden="true" name="warning"></ion-icon>
      <ion-label>Alert</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="call" href="/tabs/call">
      <ion-icon aria-hidden="true" name="call"></ion-icon>
      <ion-label>Call</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="headset"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
