// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
	--ion-color-dark-blue: #1b156e;
	--ion-color-dark-blue-rgb: 27,21,110;
	--ion-color-dark-blue-contrast: #ffffff;
	--ion-color-dark-blue-contrast-rgb: 255,255,255;
	--ion-color-dark-blue-shade: #181261;
	--ion-color-dark-blue-tint: #322c7d;

    --ion-color-white: #ffffff;
	--ion-color-white-rgb: 255,255,255;
	--ion-color-white-contrast: #000000;
	--ion-color-white-contrast-rgb: 0,0,0;
	--ion-color-white-shade: #e0e0e0;
	--ion-color-white-tint: #ffffff;

    --ion-color-light-purple: #9f9bc5;
	--ion-color-light-purple-rgb: 159,155,197;
	--ion-color-light-purple-contrast: #000000;
	--ion-color-light-purple-contrast-rgb: 0,0,0;
	--ion-color-light-purple-shade: #8c88ad;
	--ion-color-light-purple-tint: #a9a5cb;

    --ion-color-light-pink: #efdde5;
	--ion-color-light-pink-rgb: 239,221,229;
	--ion-color-light-pink-contrast: #000000;
	--ion-color-light-pink-contrast-rgb: 0,0,0;
	--ion-color-light-pink-shade: #d2c2ca;
	--ion-color-light-pink-tint: #f1e0e8;

    --ion-color-dark-purple: #595585;
	--ion-color-dark-purple-rgb: 89,85,133;
	--ion-color-dark-purple-contrast: #ffffff;
	--ion-color-dark-purple-contrast-rgb: 255,255,255;
	--ion-color-dark-purple-shade: #4e4b75;
	--ion-color-dark-purple-tint: #6a6691;
}

