<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-img src="../../assets/img/sma.jpg" class="main-img"></ion-img>
  
  <ion-card>
    <ion-card-header>
      Combattre la violence domestique : Un appel à l'action
    </ion-card-header>
    <ion-card-content>
      <ion-img src="../../assets/img/violence_domestique.jpg"></ion-img>
      <p>Date de publication: 12 juin 2024</p>
      <p>La violence domestique reste un problème criant dans de nombreux foyers à travers le monde. Cet article explore les défis persistants et les actions nécessaires pour créer un changement significatif.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Briser le silence : Témoignages de survivantes de violences sexuelles
    </ion-card-header>
    <ion-card-content>
      <ion-img src="../../assets/img/violence_sexuelle.jpg"></ion-img>
      <p>Date de publication: 10 juin 2024</p>
      <p>Cet article présente les témoignages courageux de femmes qui ont survécu à des agressions sexuelles. Leur voix rappelle l'importance de briser le silence et de soutenir les survivantes.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Éduquer pour prévenir : L'importance de l'éducation dans la lutte contre la violence
    </ion-card-header>
    <ion-card-content>
      <ion-img src="../../assets/img/education_violence.jpg"></ion-img>
      <p>Date de publication: 8 juin 2024</p>
      <p>Cet article examine le rôle crucial de l'éducation dans la prévention de la violence contre les femmes. Il met en lumière les programmes éducatifs efficaces et les initiatives communautaires qui font la différence.</p>
    </ion-card-content>
  </ion-card>
</ion-content>