ion-header {
  ion-toolbar {
    --background: var(--ion-color-dark-blue);
  }
} 


ion-content {
  --background: var(--ion-color-white);

  .main-img {
    margin-top: 20px;
    width: 100%;
    height: 190px;
  }

  ion-card {
    border-radius: 20px;
    border: 2px solid var(--ion-color-light-purple);
    background: var(--ion-color-white);
    color: var(--ion-color-dark-blue);
    box-shadow: 0 10px 20px -10px rgba(var(--ion-color-dark-blue), 0.6);

    ion-img {
      width: 100px;
      height: 100px;
    }
    ion-card-header {
      --color: var(--ion-color-dark-blue);
    }
  }

  .main-card {
    position: relative;
    top: -70px;
  }
  ion-card-content {
    --color: var(--ion-color-dark-blue);
    display: flex;
    span {
      font-weight: bold;
    }
  }
}