<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/imgs/your-image.jpg" alt="Article Image"/>
    <ion-card-content>
      <p>Lorem ipsum dolor sit amet, conse ctetur</p>
      <ion-row>
        <ion-col>
          <ion-icon name="heart"></ion-icon>
          <ion-label>609</ion-label>
        </ion-col>
        <ion-col>
          <ion-icon name="chatbubble"></ion-icon>
          <ion-label>120</ion-label>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  
  
</ion-content>
